{% extends 'base.html' %}
{% load static %}
{% block main_block %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">

<!-- Decorative bubbles -->
<div class="bubble" style="top: 10%; left: 5%; animation-delay: 0s;"></div>
<div class="bubble" style="top: 30%; left: 80%; animation-delay: 2s;"></div>
<div class="bubble" style="top: 70%; left: 15%; animation-delay: 4s;"></div>
<div class="bubble" style="top: 50%; left: 90%; animation-delay: 6s;"></div>

<header class="header">
  <h1>Little Explorers Gallery</h1>
</header>

<div class="gallery-container">
  
  <div class="gallery">
    <!-- Fun Games -->
    <div class="gallery-item" data-category="physical">
      <img src="{% static 'media/11.jpg' %}"class="gallery-image">
      <div class="gallery-caption">
      </div>
    </div>
    
    <!-- Art and Craft -->
    <div class="gallery-item" data-category="arts">
      <img src="{% static 'media/12.jpg' %}" class="gallery-image">
      <div class="gallery-caption">
   
      </div>
    </div>
    
    <!-- Yoga -->
    <div class="gallery-item" data-category="physical">
      <img src="{% static 'media/13.jpg' %}" class="gallery-image">
      <div class="gallery-caption">
    
      </div>
    </div>
    
    <!-- Zumba -->
    <div class="gallery-item" data-category="physical">
      <img src="{% static 'media/14.jpg' %}" class="gallery-image">
      <div class="gallery-caption">
   
      </div>
    </div>
    
    <!-- Non-Fire Cooking -->
    <div class="gallery-item" data-category="learning">
      <img src="{% static 'media/15.jpg' %}" class="gallery-image">
      <div class="gallery-caption">
     
      </div>
    </div>
    
    <!-- Story Telling -->
    <div class="gallery-item" data-category="creative">
      <img src="{% static 'media/26.jpg' %}" class="gallery-image">
      <div class="gallery-caption">
 
      </div>
    </div>
    
    <!-- Phonics Practice -->
    <div class="gallery-item" data-category="learning">
      <img src="{% static 'media/9.jpg' %}" class="gallery-image">
      <div class="gallery-caption">

      </div>
    </div>
    
    <!-- Abacus -->
    <div class="gallery-item" data-category="learning">
      <img src="{% static 'media/23.jpg' %}" class="gallery-image">
      <div class="gallery-caption">

      </div>
    </div>
    
    <!-- Aerobics -->
    <div class="gallery-item" data-category="physical">
      <img src="{% static 'media/7.jpg' %}" class="gallery-image">
      <div class="gallery-caption">
   
      </div>
    </div>
    
    <!-- Dance and Music -->
    <div class="gallery-item" data-category="creative">
      <img src="{% static 'media/1.jpg' %}" class="gallery-image">
      <div class="gallery-caption">
    
      </div>
    </div>
    
    <!-- Coloring Drawing -->
    <div class="gallery-item" data-category="arts">
      <img src="{% static 'media/5.jpg' %}" class="gallery-image">
      <div class="gallery-caption">
   
      </div>
    </div>
    
    <!-- Writing Practice -->
    <div class="gallery-item" data-category="learning">
      <img src="{% static 'media/3.jpg' %}" class="gallery-image">
      <div class="gallery-caption">
 
      </div>
    </div>
  </div>
</div>

<div class="gallery-container">
  
 <div class="gallery">
   <!-- Fun Games -->
   <div class="gallery-item" data-category="physical">
     <img src="{% static 'gallery/1.jpg' %}" class="gallery-image">
     <div class="gallery-caption">

     </div>
   </div>
   
   <!-- Art and Craft -->
   <div class="gallery-item" data-category="arts">
     <img src="{% static 'gallery/2.jpg' %}" class="gallery-image">
     <div class="gallery-caption">

     </div>
   </div>
   
   <!-- Yoga -->
   <div class="gallery-item" data-category="physical">
     <img src="{% static 'gallery/3.jpg' %}" class="gallery-image">
     <div class="gallery-caption">
   
     </div>
   </div>
   
   <!-- Zumba -->
   <div class="gallery-item" data-category="physical">
     <img src="{% static 'gallery/4.jpg' %}" class="gallery-image">
     <div class="gallery-caption">
  
     </div>
   </div>
   
   <!-- Non-Fire Cooking -->
   <div class="gallery-item" data-category="learning">
     <img src="{% static 'gallery/5.jpg' %}" class="gallery-image">
     <div class="gallery-caption">

     </div>
   </div>
   
   <!-- Story Telling -->
   <div class="gallery-item" data-category="creative">
     <img src="{% static 'gallery/6.jpg' %}" class="gallery-image">
     <div class="gallery-caption">
  
     </div>
   </div>
   
   <!-- Phonics Practice -->
   <div class="gallery-item" data-category="learning">
     <img src="{% static 'gallery/7.jpg' %}" class="gallery-image">
     <div class="gallery-caption">
 
     </div>
   </div>
   
   <!-- Abacus -->
   <div class="gallery-item" data-category="learning">
     <img src="{% static 'gallery/8.jpg' %}" class="gallery-image">
     <div class="gallery-caption">

     </div>
   </div>
   
   <!-- Aerobics -->
   <div class="gallery-item" data-category="physical">
     <img src="{% static 'gallery/9.jpg' %}" class="gallery-image">
     <div class="gallery-caption">
  
     </div>
   </div>
   
   <!-- Dance and Music -->
   <div class="gallery-item" data-category="creative">
     <img src="{% static 'gallery/10.jpg' %}" class="gallery-image">
     <div class="gallery-caption">
 
     </div>
   </div>
   
   <!-- Coloring Drawing -->
   <div class="gallery-item" data-category="arts">
     <img src="{% static 'gallery/11.jpg' %}" class="gallery-image">
     <div class="gallery-caption">
  
     </div>
   </div>
   
   <!-- Writing Practice -->
   <div class="gallery-item" data-category="learning">
     <img src="{% static 'gallery/12.jpg' %}" class="gallery-image">
     <div class="gallery-caption">
    
     </div>
   </div>
 </div>
</div>

<!-- Image Modal -->
<div id="imageModal" class="image-modal">
  <div class="modal-content">
    <span class="close-button" id="closeModal">&times;</span>
    <img id="modalImage" class="modal-image" src="" alt="">
    <div id="modalCaption" class="modal-caption">
      <h3 id="modalTitle"></h3>
      <p id="modalDescription"></p>
    </div>
  </div>
</div>



<script>
  const modal = document.getElementById("imageModal");
  const modalImg = document.getElementById("modalImage");
  const modalTitle = document.getElementById("modalTitle");
  const modalDesc = document.getElementById("modalDescription");
  const closeModal = document.getElementById("closeModal");

  document.querySelectorAll(".gallery-image").forEach(image => {
    image.addEventListener("click", function () {
      modal.style.display = "block";
      modalImg.src = this.src;
      modalTitle.innerText = this.alt;
      modalDesc.innerText = ""; // Add description if needed
    });
  });

  closeModal.onclick = function () {
    modal.style.display = "none";
  };

  window.onclick = function (event) {
    if (event.target === modal) {
      modal.style.display = "none";
    }
  };
</script>

{% endblock %}