{% extends 'base.html' %}
{% load static %}
{% block main_block %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">

<header class="header">
  <h1>Little Explorers Gallery</h1>
</header>

<div class="gallery-container">
  {% for i in images %}
  <div class="gallery-item">
    <img src="{{ i.image.url }}" alt="Gallery Image" class="gallery-image" onclick="openModal('{{ i.image.url }}')">
  </div>
  {% endfor %}
</div>

<!-- Modal HTML -->
<div id="imageModal" class="modal">
  <div class="modal-content-wrapper">
    <span class="close-btn" onclick="closeModal()">&times;</span>
    <img class="modal-image" id="modalImage">
  </div>
</div>

<!-- Modal JS -->
<script>
  function openModal(src) {
    const modal = document.getElementById("imageModal");
    const modalImg = document.getElementById("modalImage");
    modal.style.display = "flex";
    modalImg.src = src;
  }

  function closeModal() {
    document.getElementById("imageModal").style.display = "none";
  }

  // Optional: Close modal when clicking outside the image
  window.onclick = function (event) {
    const modal = document.getElementById("imageModal");
    if (event.target === modal) {
      closeModal();
    }
  }
</script>
{% endblock %}
